.filterContact {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  border: 1px solid #2a2a2a;
  gap: 12px;
  /* margin: 30px 0; */
  margin-left: 16px;
}

.filterNumber {
  display: block;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2a2a2a;
  gap: 12px;
  margin: 30px 0;
  margin-left: 16px;
  width: 200px;
}

.filterDelete {
  display: block;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
